<mat-toolbar color="md-primary" class="custom-navbar navbar navbar navbar-expand-md">

    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()"
            placeholder="Search products">
    </div>

    <div class="collapse navbar-collapse" style="align-items: right;">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" mat-button routerLink="/user">
                    <i style="font-size:20px; color:rgb(0,75,102);" class="fas fa-solid fa-store"
                        aria-hidden="true"></i>
                    <!-- <p style="color: black; ">Shop</p> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" mat-button routerLink="/wishlist">
                    <i style="font-size:20px; color:rgb(0,75,102);" class="fa fa-heart" aria-hidden="true"></i>
                    &nbsp;<div style="font-size: 10px;" class="badge bg-danger">{{wishlistItem}}</div>
                    <!-- <p style="color: black; ">WishList</p> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" mat-button routerLink="/cart">
                    <i style="font-size: 20px; color:rgb(0,75,102);" class="fas fa-cart-plus"></i>
                    &nbsp;<div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>

                    <!-- <p style="color: black;">Cart</p> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" mat-button routerLink="/orderPage">
                    <i style="font-size: 20px; color:rgb(0,75,102);" class="fa fa-briefcase" aria-hidden="true"></i>
                    <!-- <p style="color: black;">My Orders</p> -->
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <br>
        <mat-divider></mat-divider>
        <p>Shop Based On Category</p>
        <mat-divider></mat-divider>
        <a mat-button (click)="shoponCategory('')">All Products</a>
        <br><br>

        <a mat-button (click)="shoponCategory('Beds')">Beds</a>

        <br><br>
        <a mat-button (click)="shoponCategory('Sofas & Sofa Beds')">Sofas & Sofa Beds</a>
        <br>
        <br>

        <a mat-button (click)="shoponCategory('Bookcases & Shelving Units')">Bookcases & Shelves</a>

        <br><br>
        <a mat-button (click)="shoponCategory('Dining Table')">Dining Table</a>
        <br><br>

        <a mat-button (click)="shoponCategory('TV & Media Furniture')">TV & Media Furniture</a>

        <br>
        <mat-divider></mat-divider>
        <p>Price Range</p>
        <mat-divider></mat-divider>
        <a mat-button (click)="sortingPriceRange('0')">Low to High</a>
        <br><br>

        <a mat-button (click)="sortingPriceRange('1')">High to Low</a>

    </mat-sidenav>
    <mat-sidenav-content>

        <div>
            <div class="container">
                <div class="row" (searchTextChanged)="onSearchTextChanged()">
                    <div ng-controller="AppCtrl as appCtrl" ng-cloak *ngFor="let product of categories"
                        class="col-12 col-md-4 col-lg-4 mb-3 mt-2">
                        <div>

                            <mat-card>

                                <img mat-card-image src="/assets/images/{{product.productImageLink}}">

                                <mat-card-header>
                                    <mat-card-title class="mat-card-title"><strong
                                            style="font-family: 'Times New Roman', Times, serif;">{{product.productName}}</strong>
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="card-text-content">
                                        <h3>Offer Price: <strong>₹ {{product.productDiscountedPrice}}</strong></h3>
                                        Original Price<h3 style="text-decoration:line-through; color: red;">₹
                                            {{product.productActualPrice}}</h3>
                                    </div>
                                </mat-card-content>

                                <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
                                    <button mat-raised-button style="background-color:rgb(0,75,102); color:white"
                                        (click)="addToWishlist(product)">WishList</button>
                                    <button mat-raised-button style="background-color:rgb(0,70,102); color:white "
                                        (click)="addtocart(product)">Add To
                                        Cart</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>