<mat-toolbar color="md-primary">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a mat-button style="color:black ; font-weight: 800px;" routerLink="/addNewProduct">
    <p><i class="fa fa-shopping-bag" aria-hidden="true"> Manage Products</i></p>
  </a>
  <a mat-button style="color:black ; font-weight: 800px;" routerLink="/bulkUpload">
    <p><i class="fa fa-upload" aria-hidden="true"> Bulk Upload</i></p>
  </a>
  <a mat-button style="color:black ; font-weight: 800px;" routerLink="/userManagement">
    <p><i class="fa fa-users" aria-hidden="true"> Manage Users</i></p>
  </a>
  <a mat-button style="color:black ; font-weight: 800px;" routerLink="/stockReport">
    <p><i class="fa fa-bar-chart" aria-hidden="true"> Stock Report</i></p>
  </a>
  <a mat-button style="color:black ; font-weight: 800px;" routerLink="/salesReport">
    <p><i class="fa fa-calculator" aria-hidden="true"> Sales Report</i></p>
  </a>
  <a mat-button style="color:black ; font-weight: 800px;" routerLink="/discount">
    <p><i class="fa fa-gift" aria-hidden="true"> Set Discount For Users</i></p>
  </a>

</mat-toolbar>

<div class="container" style="padding: 20px;text-align: center; border-radius: 2rem;">
  <img src="/assets/home images/home-page-pic-1.jpg">
</div>