h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 800px;
    background-color: whitesmoke;
    border-radius: 20px !important;
}

h3 {
    text-align: center;
}