<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <h3>Registration Form </h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter your First Name " formControlName="userFirstName"
                    required="required">
                <mat-error *ngIf="user.userFirstName.hasError('required')">
                    First Name is Required!
                </mat-error>
                <mat-error *ngIf="user.userFirstName.hasError('minlength')">
                    First Name should be atleast 3 characters long!
                </mat-error>
                <mat-error *ngIf="user.userFirstName.hasError('pattern')">
                    First Name should contain only characters!
                </mat-error>

            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter your Last Name " formControlName="userLastName" required="required">
                <mat-error *ngIf="user.userLastName.hasError('required')">
                    Last Name is Required!
                </mat-error>
                <mat-error *ngIf="user.userLastName.hasError('minlength')">
                    Last Name should be atleast 3 characters long!
                </mat-error>
                <mat-error *ngIf="user.userLastName.hasError('pattern')">
                    Last Name should contain only characters!
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="Enter your User Name " formControlName="userName" required="required">
                <mat-error *ngIf="user.userName.hasError('required')">
                    User Name is Required!
                </mat-error>
                <mat-error *ngIf="user.userName.hasError('minlength')">
                    User Name should be atleast 3 characters long!
                </mat-error>
                <mat-error *ngIf="user.userName.hasError('pattern')">
                    User Name should contain only characters!
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Enter your Password " formControlName="userPassword"
                    required="required">
                <mat-error *ngIf="user.userPassword.hasError('required')">
                    Password is Required!
                </mat-error>
                <mat-error *ngIf="user.userPassword.hasError('minlength')">
                    Password should be atleast 8 characters long!
                </mat-error>
                <mat-error *ngIf="user.userPassword.hasError('pattern')">
                    Password is invalid!
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email Id</mat-label>
                <input type="email" matInput placeholder="Enter your Email Id " formControlName="emailId"
                    required="required">
                <mat-error *ngIf="user.emailId.hasError('required')">
                    emailId is Required!
                </mat-error>
                <mat-error *ngIf="user.emailId.hasError('pattern')">
                    emailId is invalid!
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Enter your Phone Number" formControlName="phoneNumber" required="required">
                <mat-error *ngIf="user.phoneNumber.hasError('required')">
                    Phone Number is Required!
                </mat-error>
                <mat-error *ngIf="user.phoneNumber.hasError('minlength')">
                    Phone Number should consists of 10 digits.
                </mat-error>
                <mat-error *ngIf="user.phoneNumber.hasError('pattern')">
                    Phone Number is invalid!
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Choose your Role</mat-label>
                <mat-select formControlName="role" id="role">
                    <mat-option value="Admin">
                        Admin
                    </mat-option>
                    <mat-option value="User">
                        User
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="user.role.hasError('required')">
                    Role is Required!
                </mat-error>
            </mat-form-field>
            <button type="submit" class="w-100" mat-raised-button [disabled]="!registerForm.valid"
                style="margin-right: 3px;background-color:rgb(0,70,102);color:white">Register</button>

            <br>
            <br>
            <p style="text-align: center;">Already Registered! <a routerLink="/login">Click to Login</a></p>
        </form>
    </div>
</div>